* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: Helvetica;
  background: url("images/_.jpeg") no-repeat center;
  background-size: cover;
}
